{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div id="arianne">
        <ul>
            <li><a href="#">Panier</a></li>&gt
            <li><a href="#">Connexion / Inscription</a></li>&gt
            <li><a href="#">Paiement</a></li>&gt
            <li><a href="#">Validation</a></li>
        </ul>
    </div>
    <div class="panier-card">
        <div class="panier-img">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="Affiche">
        </div>
        <div class="panier-event-info">

        </div>
        <div class="panier_place">

        </div>

        <div class="topCart">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="">
            <div class="details">
                <h2>Rammstein</h2>
                <p>Samedi 22 juillet 2023</p>
                <p>Stade de l'Aube</p>
                <p>21h</p>
            </div>
            <div class="qte">
                <div class="nbp">
                    <label for="nbp">Nombre de place : </label>
                    <input type="number">
                </div>
                <div class="prix">
                    <label for="#">Prix à l'unité : </label>
                    <p>70 €</p>
                </div>
            </div>
        </div>
        <div class="prixTotal">
            <p>Prix total : 140 €</p>
            <a href="#" class="command">Commander</a>
        </div>
    </div>
    <a href="#" class="command">Continuer mes achats</a>
{% endblock %}
