{% extends 'base.html.twig' %}

{% block title %}Rammstein{% endblock %}

{% block body %}
<div class="event_page">
    <div class="event_info">
        <div class="event_img">
            <img src="{{ asset('images/affiche/affiche.png') }}" alt="Image de l'évènement">
        </div>
        <div class="event_nom_lieu_prix">
            <div>
                <h1>Rammstein</h1>
                <h2>Samedi 22 juillet 2023</h2>
                <h2>Stade de l'Aube</h2>
                <h2>20h</h2>
            </div>
            <div class="event_reserver">
                <h3>84€</h3>
                <div class="bouton_reserver">
                    <a href="{{ path('app_panier') }}?id_event=1">➕ RÉSERVER</a>
                </div>
            </div>
        </div>
    </div>
    <div class="event_description">
        <p>Rammstein accélère la cadence et continuera d’enflammer l’Europe en 2023 en passant notamment par le Stade de l'Aube, le 22 juillet 2023. Peu d’artistes dans le paysage musical actuel propose un live de cette ampleur, une scène magistrale nourrie par une profusion de feux d’artifice, d’explosions massives de fumée, orchestrées par une mise en scène chargée d’humour et de pathos.</p>
    </div>
    <div class="backhomebutton">
        <div class="back_home">
            <a href="{{ path('app_index') }}?id_event=1">RETOUR À L'ACCUEIL</a>
        </div>
    </div>
</div>
{% endblock %}
