{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
</form>
    <section id="contact">
        <form method="post" action="login.php">
            <div class="contactform">
                <div class="container">
                    <h2>Se connecter</h2>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="email" id="inputEmail" required="required">
                                <span class="text">E-mail</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="password" name="password" id="inputPassword" required="required">
                                <span class="text">Mot de passe</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <button type="submit">S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
