{% extends 'base.html.twig' %}

{% block title %}Programmation{% endblock %}

{% block body %}
    <div class="prog_box">
    {% for i in prog %}
            <div class="prog_card">
                <img src="{{ asset('images/affiche/' ~ i.manifAffiche ) }}" alt="">
                <div class="prog_data">
                    <p>Date : {{ i.manifDate }}</p>
                    <a href="#">Réserver</a>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}
