{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <section id="contact">
        <form method="post" action="register.php">
            <div class="contactform">
                <div class="container">
                    <h2>Créer un compte</h2>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="email" id="email" required="required">
                                <span class="text">E-mail</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="password" name="password" id="password" required="required">
                                <span class="text">Mot de passe</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <button type="submit">Se connecter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
