@media screen
and (max-width: 850px) {
    body{
        overflow-x: hidden;
    }
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 1em;
    }
    #topFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    footer img{
        display: none;
    }
    .footerBox{
        margin-top: 3em;
    }
    .footerBox ul li a{
        text-align: center;
    }
    /*Footer*/

    nav{
        color: white;
        background-color: white;
    }
    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none !important;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block !important;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        background: white;
        flex-direction: column;
        padding: 3rem;
        justify-content: space-around;
        transform: translateY(-100%);
        transition: transform 1s;
        z-index: 10;
    }

    .menu li a {
        font-size: 17px;
    }

    .open .menu {
        transform: translateY(0);
    }
    #menu_end{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        color: black;
        padding: 1em;
    }
    .prog_box{
        flex-direction: column;
    }
    nav{
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    .fas {
        margin-top: -18px;
    }

    .prog_data{
        opacity: 1;
    }

    /* PAGE EVENT */

    .event_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event_info h1, .event_info h2 {
        text-align: center;
    }

    .event_nom_lieu_prix {
        margin-top: 10px;
    }

    .event_img {
        display: flex;
        justify-content: center;
    }
    .panier-card {
        display: flex;
        flex-direction: column;
        margin: 3em;
        height: 800px;
        border-radius: 30px;
    }

    .panier-img {
        display: flex;
        justify-content: center;
        margin-top: 3em;
        margin-right: 0;
    }
    .panier-img img {
        width: 80%;
        height: 80%;
    }
    .panier-event-info {
        margin-top: -5%;
        text-align: center;
    }
    .panier_place {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .next-event h2 {
        font-size: 20px;
    }

    .salle-box{
        height: 100%;
        padding: 20px 0;
        border-radius: 30px;
    }
    .salle-presentation img{
        border-radius: 20px;
    }
    .salle-presentation {
        flex-direction: column;
    }
    #menu_end ul {
        margin-right: -35px;
    }
}

@media screen and (max-width: 390px) {
    .panier-event-info h2 {
        font-size: 35px;
    }
}