@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
main{
    margin: 2em;
}
/*Initialisation*/

.toggle{
    display: none;
}
#menu_logo{
    display: none;
}
#menu_start img{
    height: 60px;
}
#menu_start ul{
    align-items: center;
    display: flex;
    list-style: none;
}
#menu_end ul{
    height: 80px;
    align-items: center;
    display: flex;
    list-style: none;
}
#menu_start ul li a, #menu_start ul li input,#menu_end ul li a, #menu_end ul li input{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}
li input{
    border: 2px solid #000000;
    border-radius: 63px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.nav_link {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.nav_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/*Barre de navigation*/

footer{
    width: 100vw;
    background-color: #393333;
    text-align: center;
    color: white;
    padding-top: 3em;
}
footer img{
    width: 137px;
    height: 168px;
}
#topFooter{
    display: flex;
    justify-content: space-evenly;
}
.footerBox h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footerBox p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 133.9%;
}
.mapButton {
    display: block;
    background: #2298BC;
    border-radius: 80px;
    padding: .2em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}
footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.footerBox ul li a{
    display: block;
    text-decoration: none;
    padding: .5em;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
}
.footerBox ul{
    text-transform: uppercase;
    list-style: none;
}
/*Footer*/

.cartCard{
    margin: 5em;
    background-color: #D9D9D9;
    height: 310px;
    border-radius: 60px;
}
.cartCard h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}
.details{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 135.9%;
    color: #000000;
}
.qte{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 135.9%;
    color: #000000;
}
.prix{
    display: flex;
}
.prixTotal{
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135.9%;
    color: #000000;
    align-items: baseline;
    margin-right: 2em;
}
.command{
    background: #2298BC;
    border-radius: 80px;
    display: block;
    padding: .5em;
    margin-left: 1em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.topCart{
    display: flex;
    justify-content: space-evenly;
}
.cartCard img{
    width: 388px;
    height: 245px;
}
#arianne ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

/*Panier*/

.prog_box{
    display: flex;
    flex-wrap: wrap;
}
.prog_box div img {
    margin: .7em;
}
.prog_card img{
    width: 20%;
    height: auto;
}
.prog_data{
    opacity: 0;
    transform: translate(0,-20%);
}
.prog_card:hover .prog_data{
    opacity: 1;
    transform: translate(0,5%);
    transition-property: all;
    transition-duration: 1s;
}
.prog_card:hover{
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 2s;
}