/* Initialisation */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
main{
    margin: 2em;
}


/*Barre de navigation*/

.toggle{
    display: none;
}
#menu_logo{
    display: none;
}
#menu_start img{
    height: 60px;
}
#menu_start ul{
    align-items: center;
    display: flex;
    list-style: none;
}
#menu_end ul{
    height: 80px;
    align-items: center;
    display: flex;
    list-style: none;
}
#menu_start ul li a, #menu_start ul li input,#menu_end ul li a, #menu_end ul li input{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}
input {
    background-color: transparent;
    border: 0 solid;
    outline: none;
    padding-left: 10px;
}
#menu_end {
    margin-right: 30px;
}
.menutest img {
    width: 40px;
    height: 40px;
}
.search {
    display: flex;
    width: 255px;
    padding: 5px;
    margin: 20px 0;border: 2px solid #000000;
    border-radius: 63px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.nav_link {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
.nav_link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*Footer*/

footer{
    width: 100vw;
    background-color: #393333;
    text-align: center;
    color: white;
    padding-top: 3em;
    margin-bottom: -50%;
}
hr {
    border-top: 1px solid white ;
}
footer img{
    width: 137px;
    height: 168px;
}
#topFooter{
    display: flex;
    justify-content: space-evenly;
}
.footerBox h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.footerBox p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 133.9%;
}
.mapButton {
    display: block;
    background: #2298BC;
    border-radius: 80px;
    padding: .2em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}
footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.footerBox ul li a{
    display: block;
    text-decoration: none;
    padding: .5em;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
}
.footerBox ul{
    text-transform: uppercase;
    list-style: none;
}


/*Panier*/

.panier-card{
    display: flex;
    justify-content: space-around;
    margin: 2em 5em 3em 5em;
    background-color: #D9D9D9;
    height: 310px;
    border-radius: 60px;
    box-shadow: #0f172a 0 20px 30px -10px;
}
@media screen and (max-width: 550px) {
    main {
        margin: 20px 0 0 0;
    }
}
.panier-img {
    display: flex;
    margin-top: 1.5em;
    margin-right: -10%;
}
.panier-img img {
    width: 90%;
    height: 90%;
}
.panier-event-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
}
.panier-event-info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
.panier-event-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -5%;
}
.panier-event-info p {
    margin-top: -10px;
    font-size: 25px;
}
.panier-event-info h2 {
    margin-bottom: 50px;
}
.panier-event-info p {
    margin-top: -10px;
}
.panier_place {
    margin-top: 1.5em;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}
.prixTotal {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-top: 1.5em;
    text-align: right;
    font-weight: 600;
    font-size: 20px;
}
.bouton_commander {
    display: flex;
    width: 160px;
    height: 40px;
    background-color: #2298BC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.bouton_commander:hover {
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #2298BC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.bouton_commander a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 900;
}
#arianne ul{
    display: flex;
    list-style: none;
    justify-content: center;
}


/*Programmation*/

.prog_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.prog_box div img{
    margin: .7em;
}
.prog_card{
    text-align: center;
}
.prog_data{
    opacity: 0;
    transform: translate(0,-20%);
}
.prog_card:hover .prog_data{
    opacity: 1;
    transform: translate(0,5%);
    transition-property: all;
    transition-duration: 1s;
}
.prog_card:hover{
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 2s;
}

.event_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.event_nom_lieu_prix {
    display: flex;
    height: 367px;
    flex-direction: column;
    justify-content: space-between;
    margin: -1%;
}
.event_info {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 5em 2em 5em;
    flex-wrap: wrap;
}
.event_info h1, .event_info h2 {
    text-align: right;
}
.event_info img {
    width: 150%;
    height: 150%;
}
@media screen and (max-width: 1250px) {
    .event_info img {
        width: 120%;
        height: 120%;
    }
    .event_info {
        margin: 0 2em 2em 2em;
    }
    .event_nom_lieu_prix {
        height: 294px;
    }
}
.event_info h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: 'Montserrat';
}
.event_info h2 {
    font-size: 30px;
    font-family: 'Montserrat';
}
@media screen and (max-width: 1000px) {
    .event_info h1 {
        font-size: 50px;
    }
    .event_info h2 {
        font-size: 20px;
    }
    .event_info {
        margin: 0 1em 2em 1em;
    }
    .event_info img {
        width: 110%;
        height: 110%;
    }
    .event_nom_lieu_prix {
        height: 270px;
    }
}
.event_reserver {
    display: flex;
    justify-content: flex-end;
}
.event_reserver h3 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-right: 1em;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton_reserver {
    display: flex;
    width: 150px;
    background-color: #2298BC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.bouton_reserver:hover {
    display: flex;
    width: 160px;
    height: 60px;
    background-color: #2298BC;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.bouton_reserver a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 900;
}
.event_description {
    display: flex;
    justify-content: center;
    margin: 0 5em 2em 5em;
}
.backhomebutton {
    display: flex;
    justify-content: center;
}
.back_home {
    display: flex;
    justify-content: center;
    margin: 0 5em 2em 5em;
    width: 220px;
    height: 60px;
    background-color: #2298BC;
    border-radius: 20px;
    align-items: center;
}
.back_home:hover {
    width: 230px;
    height: 70px;
}
.back_home a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 900;
}
@media screen and (max-width: 450px) {
    .event_info h1 {
        font-size: 40px;
    }
    .event_info h2 {
        font-size: 17px;
    }
    .event_info {
        margin: 0 0.5em 2em 0.5em;
    }
    .event_info img {
        width: 90%;
        height: 90%;
    }
    .event_nom_lieu_prix {
        height: 200px;
    }
    .event_reserver h3 {
        font-size: 25px;
        margin-right: 0.5em;
    }
    .event_description {
        text-align: center;
        margin: 0 1em 2em 1em;
    }
    .back_home {
        margin: 0 1.5em 2em 1.5em;
    }
/*Fil d'ariane*/

.ariane {
    width: 100%;
    display: flex;
    justify-content: center;
}
.breadcrumb {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
}
.breadcrumb {
    /*centering*/
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}
.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}
.breadcrumb a.active, .breadcrumb a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow:
            2px -2px 0 2px rgba(0, 0, 0, 0.4),
            3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
      5px - for rounded arrows and
      50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
.breadcrumb a:last-child:after {
    content: none;
}
.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
}
.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}
.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
    background: #2298BC;
}


/*Carrousel*/

.slide-container{
    max-width: 90%;
    width: 90%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #FFF;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2298BC;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #2298BC;
    border: none;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
    border: none;
}
.card-image{
    position: relative;
    height: 100%;
    width: 100%;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 0 10px;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2298BC;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #2298BC;
}

.swiper-navBtn{
    color: #FFF;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #2298BC;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #2298BC;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #2298BC;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}}
