<footer>
    <div id="topFooter">
        <img src="{{ asset('images/logo/3event.png') }}" alt="">
        <div class="footerBox">
            <h2>Stade de l'aube</h2>
            <hr>
            <p>42 Av. Robert Schumann,<br /> 10000 Troyes</p>
            <a href="#" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <h2>Le cube</h2>
            <hr>
            <p>20 Rue des Gayettes,<br /> 10000 Troyes</p>
            <a href="#" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <h2>Théâtre de Champagne</h2>
            <hr>
            <p>Boulevard Gambetta,<br /> 10000 Troyes
            </p>
            <a href="#" class="mapButton">S'y rendre</a>
        </div>
        <div class="footerBox">
            <ul>
                <li><a href="#">Programmation</a></li>
                <li><a href="#">Nos salles</a></li>
                <li><a href="#">Infos pratiques</a></li>
                <li><a href="#">Contactez-nous</a></li>
            </ul>
        </div>
    </div>
    <p>&copy; 2022 - Tous droits réservés</p>
</footer>