{% extends 'base.html.twig' %}

{% block title %}Nos salles{% endblock %}

{% block body %}
    {% for i in salles %}
        <div class="salle">
            <img src="#" alt="{{ i.salleNom }}">
            <h2>{{ i.salleNom }}</h2>
            <p>{{ i.salleAdresse }}</p>
            <a href="#">En voir plus</a>
        </div>
    {% endfor %}
{% endblock %}
