{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <section id="contact">
        <div class="ariane">
            <div class="breadcrumb flat">
                <a href="{{ path('app_panier') }}">Panier</a>
                <a href="">Connexion / Inscription</a>
                <a href="" class="active">Paiement</a>
                <a href="">Validation</a>
            </div>
        </div>
        <form method="post">
            <div class="contactform">
                <div class="container">
                    <h2>Vos informations</h2>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="prenom" id="prenom" required="required">
                                <span class="text">Prénom</span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="nom" id="nom" required="required">
                                <span class="text">Nom</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="email" id="email" required="required">
                                <span class="text">E-mail</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="adresse" id="adresse" required="required">
                                <span class="text">Adresse</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="codepostal" id="codepostal" required="required">
                                <span class="text">Code postal</span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="ville" id="ville" required="required">
                                <span class="text">Ville</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="codecb" id="coedcb" required="required">
                                <span class="text">Carte Bancaire</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <input type="date" name="expiration" id="expiration" required="required">
                                <span class="text">Expiration</span>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputBox">
                                <input type="text" name="cvc" id="cvc" required="required">
                                <span class="text">CVC</span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="col">
                            <div class="inputBox">
                                <a href="{{ path('app_validation') }}"><button type="submit">Payer</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
