<a href="accueil">Accueil</a> |
<a href="manifs">Manifestations</a> |
{% if is_granted("ROLE_ADMIN") %}
<a href="admin">Administration</a> |
{% endif %}

{% if app.user %}
    <a href="logout">Déconnexion</a> |
    {{ app.user.email }}
{% else %}
    <a href="login">Connexion</a> |
    <a href="register">S'inscrire</a>
{% endif %}

<hr>