{% extends 'base.html.twig' %}

{% block title %}Validation{% endblock %}

{% block body %}
    <div class="ariane">
        <div class="breadcrumb flat">
            <a href="{{ path('app_panier') }}">Panier</a>
            <a href="">Connexion / Inscription</a>
            <a href="">Paiement</a>
            <a href="" class="active">Validation</a>
        </div>
    </div>
    <h2 class="validation">Votre commande a été validée</h2>
    <div class="backhomebutton">
        <div class="back_home">
            <a href="{{ path('app_index') }}?id_event=1">RETOUR AU SITE</a>
        </div>
    </div>
{% endblock %}
